h1{
    color: red;
    text-align: center;
    text-transform: capitalize;
    font-family: sans-serif ;
}

.jhankar-highlight{
    color: orange;
}

h3{
    text-transform: capitalize;
}

hello{
    width: 50%;
}